
.logo{
    opacity: 0;
    transition: opacity 230ms ease-in-out;
}

.logo:hover{
    opacity: 1;
}

@keyframes Myspinner {
    from {
        transform: rotate(0deg);
    } 25% {
        transform: rotate(-45deg);
    } to{
        transform: rotate(360deg);
    }
    
}

.spinner {
    animation: Myspinner 4;
    animation-iteration-count: infinite;
}