.logo {
    opacity: 0;
    transition: opacity 230ms ease-in-out;
    animation: Myspinner 3s linear infinite;
}

.logo:hover {
    opacity: 1;
}



@keyframes Myspinner {
    0% {
        transform: translateX(0) rotate(0deg);
    }


    to {
        transform: translateX(160px) rotate(360deg); 
    }
}

.spinner2 {
    animation: Myspinner2 4s;
    animation-iteration-count: infinite;
}




@keyframes Myspinner2 {
    from {
        transform: rotate(0deg) translate(0px);
        

    } 
    
    25% {
        transform: translate(-40px);
        
        
    } 
    50%{
        transform: rotate(-45deg);
        
        
    } 
    to{
        
        transform:rotate(360deg) ;
    } 
    
}

.spinnersquare{
    width: 100px;
    height: 100px;
    background-color: red;
    animation: MySquare 4s ease-in-out infinite;

}

@keyframes MySquare {
    from{
        transform: rotate(0deg); border-radius: 0px;
    } 50%{
        transform: rotate(360deg); border-radius: 50px;
    } to {
         border-radius: 0px;
    }
    
}

.spinnersquare2{
    width: 100px;
    height: 100px;
    background-color: rgb(8, 0, 255);
    transition: all 2s;

}

.spinnersquare2:hover{
    transform: rotate(45deg);
    background-color: aqua;
    border-style:solid;
    border-radius: 30px;
}

.bouncesquare{
    width: 100px;
    height: 100px;
    background-color: rgb(17, 255, 0);
    animation: bounce 4s infinite;
}

@keyframes bounce {
    from{
        transform: translate(0px,0px); border-radius: 0px; 
    } 50%{
        transform: translate(0px,100px); border-radius: 60px; height:120px; width: 120px; ;
     to{
        transform: translate(0px,50px); border-radius: 0px;
    }
    
}
}
